<div class="container-footer">
  <div class="first-part">
    <img routerLink="" src="./assets/img/logo-white.png" class="logo" />
    <a routerLink="/impressum" class="imprint" href="/">Impressum</a>
  </div>

  <span class="copyright">© Talat Yildirim 2023</span>

  <div class="container-social-media">
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/Talatyildirim"
    >
      <img src="./assets/img/logo-git.png" />
    </a>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="mailto:contact@talatyildirim.de"
    >
      <img src="./assets/img/logo-mail.png" />
    </a>

    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.linkedin.com/in/talat-yildirim"
    >
      <img src="./assets/img/logo-linkedin.png" />
    </a>
  </div>
  <a routerLink="/impressum" class="imprint-mobile" href="/">Impressum</a>
</div>
