<div class="container-aboutme" id="about-me">
  <div class="container-text">
    <h2>Über mich</h2>
    <span>
      Hallo! Als Front-End-Entwickler aus Hannover, Deutschland, habe ich umfangreiche
      Erfahrung in der Erstellung von Webanwendungen und eine projektorientierte Ausbildung im Bereich
      Frontend-Entwicklung absolviert. Meine Leidenschaft liegt in der Entwicklung von Web-Apps, und ich würde
      gerne meine Fähigkeiten in einem professionellen Umfeld einsetzen, um gemeinsam mit Ihnen nützliche
      Software zu erstellen.
    </span>
    <div>
      <img data-aos="flip-up" data-aos-duration="1500" src="./assets/img/light.png" alt="" />
      <span data-aos="flip-up" data-aos-duration="1500">
        Ich habe meine Ausbildung an der Developer Akademie in München absolviert und
        umfangreiche Erfahrungen in verschiedenen Projekten gesammelt. Mein Können erstreckt sich von einfachen
        One-Pager-Websites bis hin zu komplexen Spielen und Business-Anwendungen mit JavaScript und Angular.
        Erfahrene Programmierer haben mir dabei geholfen, von Anfang an sauberen Code zu schreiben.
      </span>
    </div>

    <div>
      <img data-aos="flip-up" data-aos-duration="1500" src="./assets/img/puzzle.png" alt="" />
      <span data-aos="flip-up" data-aos-duration="1500">
        Dank meiner aktiven Teilnahme an Gruppenprojekten konnte ich wertvolle Einblicke in
        die Zusammenarbeit bei Softwareentwicklungsprojekten gewinnen. Ich bin begeistert davon, meine
        erworbenen Fähigkeiten und Erfahrungen als Junior-Webentwickler in Ihrem Unternehmen einzusetzen und
        dazu beizutragen, dass es erfolgreich wird.
      </span>
    </div>
  </div>

  <div class="container-foto">
    <img class="photo2" src="./assets/img/photo2.png" alt="" />
    <img class="line" src="./assets/img/LINE7.png" alt="" />
  </div>
</div>