<div id="hero" class="hero-container">
  <img class="photo-shadow" src="./assets/img/photo-shadow.png" alt="" />
  <img class="photo" src="./assets/img/photo.png" alt="" />

  <img class="shape" src="./assets/img/shape-hero.png" alt="" />
  <div class="container-header">
    <div class="header-text">
      <span>Ich bin</span>

      <div>
        <h1>Talat Yildirim</h1>
        <h3>FRONTEND ENTWICKLER</h3>
      </div>
    </div>
    <a href="#contact" class="main-button">Kontaktieren Sie mich</a>
  </div>
  <a href="#contact">
    <div class="scroll-down">
      <span>Runterscrollen</span>
      <img src="./assets/img/arrow-white-down.png" alt="" />
    </div>
  </a>

  <div class="container-social-media">
    <div class="blue-line"></div>

    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/Talatyildirim"
    >
      <img src="./assets/img/logo-git.png" />
    </a>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="mailto:contact@talatyildirim.de"
    >
      <img src="./assets/img/logo-mail.png" />
    </a>

    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.linkedin.com/in/talat-yildirim"
    >
      <img src="./assets/img/logo-linkedin.png" />
    </a>
    <a href="#contact">
      <span>contact@talatyildirim.de</span>
    </a>
  </div>
</div>
