<div id="header" class="header-container">
  <img routerLink="" src="./assets/img/logo-white.png" class="logo" />
  <img routerLink="" src="./assets/img/logo-name-white.png" class="logo-name" />
  <div class="menu">
    <div class="menu-point d-none-mobile">
      <a href="#about-me">Über mich</a>
      <div class="underliner"></div>
    </div>
    <div class="d-none-mobile">
      <a href="#skills">Fähigkeiten</a>
      <div class="underliner"></div>
    </div>
    <div class="d-none-mobile">
      <a href="#portfolio">Projekte</a>
      <div class="underliner"></div>
    </div>

    <img
      id="openMenu"
      (click)="openPopUp()"
      class="burger-menu d-none show-mobile"
      src="./assets/img/burger.png"
    />
    <img
      id="closeMenu"
      (click)="closePopUp()"
      class="burger-menu d-none"
      src="./assets/img/close-final.png"
    />
  </div>

  <div id="popUp" class="menu-popup d-none">
    <div class="menu-point">
      <a href="#about-me" (click)="closePopUp()">About me</a>
      <div class="underliner"></div>
    </div>
    <div class="">
      <a href="#skills" (click)="closePopUp()">Skills</a>
      <div class="underliner"></div>
    </div>
    <div class="">
      <a href="#portfolio" (click)="closePopUp()">Portfolio</a>
      <div class="underliner"></div>
    </div>
    <div class="">
      <a href="#contact" (click)="closePopUp()">Contact</a>
      <div class="underliner"></div>
    </div>
  </div>
</div>
