.header-container {
  height: 90px;
  background-color: #141d2f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100vw;
  box-sizing: border-box;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;

  a {
    color: white;
    font-size: 23px;
    padding-bottom: 5px;
    font-weight: 400;
    cursor: pointer;

    &:hover {
      color: #00bee8;
      border-bottom: solid 4px;
      border-color: #4b47ff;
    }
  }
}

.burger-menu {
  cursor: pointer;

  &:hover {
    scale: 1.1;
  }
}

.menu-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 90px);
  background-color: #414856;
  gap: 15px;
  border-radius: 0px 0px 10px 10px;
  position: absolute;
  top: 90px;
  right: 0px;
  left: 0px;
  z-index: 99;
  animation: 225ms ease-in;

  a {
    color: white;
    font-size: 21px;

    &:hover {
      color: #00bee8;
    }

    &:focus {
      border-color: #141d2f;
    }
  }
}

.d-none {
  display: none;
}

@media (max-width: 1050px) {
  .header-container {
    padding: 0px 37px;
  }

  .menu {
    gap: 0px;
  }

  .show-mobile {
    display: flex;
  }
}

@media (min-width: 1601px) {
  .header-container {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.logo-name {
  margin-left: -1000px;
  height: 65px;
  cursor: pointer;
}