<div id="portfolio" class="container-protfolio">
  <div class="container-first-part">
    <div class="container-header">
      <div class="blue-line-small"></div>
      <h2>Projekte</h2>
      <div class="blue-line"></div>
    </div>
    <span>Dieser Abschnitt ist ein Auszug aus meiner Arbeit - bitte probieren Sie es einfach aus.</span>
  </div>

  <div class="container-project-right" data-aos="fade-left" data-aos-duration="1000">
    <img src="./assets/img/elpolloloco.png" alt="" />

    <div class="project-text-right">
      <h6>El Pollo Loco</h6>
      <p>Javascript | HTML | CSS</p>
      <span>
        Ein einfaches Jump-and-Run-Spiel, das auf Objektorientierung basiert. Hilf Pepe nach Hause zu kommen, aber
        pass auf das große Huhn auf.
      </span>
      <div class="button-area">
        <a target="_blank" rel="noopener noreferrer" href="https://elpolloloco.talatyildirim.de/"
          class="button-live">Live Test</a>
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/Talatyildirim/El-Pollo-Loco"
          class="button-git">Github</a>
      </div>
    </div>
  </div>

  <div class="container-project-left" data-aos="fade-right" data-aos-duration="1000">
    <div class="project-text-left">
      <h6>Join</h6>
      <p>Javascript | HTML | CSS</p>
      <span>
        Ein Kanban-Aufgabenverwaltungssystem zum Erstellen und Organisieren von Aufgaben per Drag-and-Drop. Sie
        können mehrere Benutzer, Aufgaben, Kategorien, Unteraufgaben, usw. erstellen.
      </span>
      <div class="button-area">
        <a target="_blank" rel="noopener noreferrer" href="https://join.talatyildirim.de/log-in/login.html"
          class="button-live">Live Test</a>
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/Talatyildirim/Join" 
          class="button-git">Github</a>
      </div>
    </div>
    <img src="./assets/img/join.png" alt="" />
  </div>
  <div class="container-project-left" data-aos="fade-right" data-aos-duration="1000">
    <img src="./assets/img/portfolio.png" alt="" />
  </div>
</div>